@{
    Layout = "~/Views/Shared/_Layout.cshtml";
	@using StorageWeb.Repository.Unit.Models
}

@model IEnumerable<Unit>

<h2>Архив единиц измерения</h2>

<a href="/units/1" class="btn">К активным</a>

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Название</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var unit in Model)
        {
            <tr>
                <td>
                    <form method="post" action="select" style="display:inline;cursor:pointer;">
                        <input type="hidden" name="id" value="@unit.Id" />
                        <input type="hidden" name="name" value="@unit.Name" />
		                <input type="hidden" name="status" value="@unit.Status" />
                        <button type="submit" style="all: unset;">@unit.Name</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .btn {
        display: inline-block;
        padding: 10px 20px;
        margin-bottom: 20px;
        background-color: #b02a37;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #821f2b;
    }
</style>