@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model StorageWeb.Repository.Resource.Models.Resource

<style>
    .btn {
        display: inline-block;
        padding: 8px 16px;
        background-color: #b02a37;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        margin-right: 10px;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #821f2b;
    }
</style>

<h2>Редактирование ресурса</h2>

<form method="post" asp-controller="Resource">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="Status" value="@Model.Status" />
    <input type="hidden" name="ActionType" id="ActionType" />

    <div style="margin-bottom: 10px;">
        <label>Наименование:</label><br />
        <input type="text" name="Name" value="@Model.Name" style="width: 300px; padding: 5px;" />
    </div>

    <button type="submit" onclick="setAction('Update')" class="btn">Сохранить</button>
    <button type="submit" onclick="setAction('Delete')" class="btn">Удалить</button>
    <button type="submit" onclick="setAction('Archive')" class="btn">Изменить статус</button>
</form>

<script>
    function setAction(action) {
        document.getElementById('ActionType').value = action;
    }
</script>
